global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        {{ ansible_user }}
    group       {{ ansible_user }}
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend kubeapi
    mode tcp
    bind *:6443
    option tcplog
    default_backend kubeapi-main

frontend mcs
    bind *:22624
    default_backend mcs-main
    mode tcp
    option tcplog

backend kubeapi-main
    balance source
    mode tcp
    {% for master_vm in groups['master_vms'] %}
    server master_{{ loop.index0 }}_{{ cluster_name }} {{ hostvars[master_vm]['inventory_hostname'] }}:6443 check
    {% endfor %}

backend mcs-main
    balance source
    mode tcp
    {% for master_vm in groups['master_vms'] %}
    server master_{{ loop.index0 }}_{{ cluster_name }} {{ hostvars[master_vm]['inventory_hostname'] }}:22624 check
    {% endfor %}
